.container{
    background-image: url(./h3.jpg) no-repeat center center fixed;

    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    width: '88%';
    height: '100%';
    background-size: cover;
    overflow: hidden;
}
.signup{
    text-align: center;
    
}
.dashboard{
    /* background-color: red; */
    text-align: center;
    /* background-image: url(./h5.jpg)   ; */
}

.login{
    padding-top: 50px;
    padding-right: 30px;
    background-image: url(./h2.jpg);
    padding-left: 80px;
    background-color: red;
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
  } */
  .header__primary{
    text-align: center;
  }
  .header__secondary{
    text-align: center;
  }
  /* .container {
    max-width: 1140px;
    margin: 0 auto;
  }
   */
  .heading{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
  
  .btn__container{
    margin-bottom: 2rem;
  }
  .row{
      padding-bottom: 200px;
  }
  .radius {
    display: inline-block;
    padding: .5rem;
    width: 14rem;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 2rem;
    outline: none;
  }
  .main__row--radius{
    display: inline-block;
    padding: .5rem;
    width: 14rem;
    border-radius: 4px;
    background-color: #fff;
    margin-right: .25rem;
    margin-left: .25rem;
    outline: none; 
  }
  .main__btn--search{
    display: inline-block;
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid #fff;
    margin-right: .25rem;
    margin-left: .25rem;
  }
  .btn__hospital {
    display: inline-block;
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid #fff;
  }
  .logout{
      float: right;
      /* padding-right: 20px ; */
  }
  .btn__hospital:active, .btn__hospital:focus{
    outline: none;
  }
  .btn__hospital:hover{
    cursor: pointer;
  }
  .row_display{
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    padding-bottom: 20px;
  }
  
  .user--address {
    text-align: center;
    margin-bottom: 2rem;
    font-size: .9rem;
    font-weight: 350;
  }
  .hospitals{
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 1rem;
    border-radius: 5px;
  }
  .hospitals:not(:last-child){
    margin-bottom: 1rem;
  }
  
  .hospitals p {
    font-size: .8rem;
    text-transform: uppercase;
    margin-bottom: .32rem;
  }